@{
    ViewData["Title"] = "Home Page";

    var content = ViewData["Jumbotron"] as Film ;
}


<div>
    <div id="Jumbotron" class="text-center">
    <img src="@content.PictureURL"/> 
    <h3>@content.Title</h3>
    </div>
</div>